@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.login {
  width: 85%;
  max-width: 500px;
  flex-direction: column;
  border-radius: 12px;
  padding: 1em;
}

.toggles {
  text-align: right;
  .theme {
    float: right;
  }
  .back {
    float: left;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.input {
  margin-bottom: 1em;
}

.nav-container {
  margin: 1em;
  padding: 1em;
  border-radius: 16px;
  ul {
    display: flex;
    list-style-type: none;
    font-size: 1.3em;
    li {
      padding: 0.5em 1em;
      transition: all ease 0.1s;
      &:hover {
        transform: scale(1.1);
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.filter-box {
  margin: 1em;
  padding: 20px;
  padding-right: 60px;
  max-width: 300px;
  border-radius: 12px;
  a {
    &:hover {
      text-decoration: none;
      color: rgb(20, 180, 180);
    }
  }
}

.search-box {
  margin: 1em;
  padding: 20px;
  border-radius: 12px;
  margin-right: 10px;
  max-width: 300px;
}

.hamburger-menu {
  display: none;
}

.cards-wrapper {
  display: inline-block;
  max-width: 436px;
  max-height: 436px;
  .cards {
    border-radius: 12px;
    padding-top: 0.5em;
    margin: 1em;
    padding-bottom: 1em;

    .cards-info {
      text-align: start;
      .info-container {
        margin-left: 1em;
      }
    }

    img {
      border-radius: 12px;
      width: 365px;
      height: 206px;
      margin: 1.2em;
    }

    .wishlist-button {
      text-align: right;
      margin-right: 1em;
    }
  }
}

.wishlist-container {
  justify-content: center;
  .wishlist-items {
    border-radius: 12px;
    padding-top: 0.5em;
    margin: 1em;
    padding-bottom: 0.5em;
    width: 70%;
    .wishlist-info {
      .info-container {
        font-size: larger;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0.5em;
      }
      .title {
        font-size: 2em;
        font-weight: bold;
      }
      img {
        border-radius: 12px;
        width: 365px;
        height: 206px;
        margin: 1.2em;
      }
    }
    .delete-item {
      text-align: right;
      margin-right: 1em;
    }
  }
}

.dropzone {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2em;
  border-radius: 12px;
  border: 3px solid teal;
  border-style: dashed;
  outline: none;
  transition: border 0.24s ease-in-out;
}

// responsive
@media screen and (max-width: 600px) {
  .nav-container {
    ul {
      flex-direction: column;
    }
  }

  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    margin-right: 1em;
  }

  .search-input {
    width: 50%;
    float: right;
  }

  .cards-wrapper {
    display: flex;
    justify-content: center;
    .cards {
      width: 80%;
      img {
        margin: 0.7em;
        width: 90%;
        height: 152.38px;
      }
      .cards-info {
        .info-container {
          margin-left: 4em;
        }
      }
    }
  }

  .wishlist-container {
    .wishlist-items {
      width: 80%;
      .wishlist-info {
        flex-direction: column;
        img {
          width: 90%;
          height: 152.38px;
        }
        .info-container {
          font-size: medium;
          margin-bottom: 1em;
        }
      }
    }
  }

  .form-wrapper {
    .form {
      width: 80%;
    }
  }

  .account-container {
    .account-wrapper {
      width: 80%;
      h2 {
        margin-bottom: 1em;
      }
      .account-input {
        width: 80%;
      }
      .account-button {
        width: 80%;
      }
    }
  }
}
